@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* General Reset */
*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Container */
.container {
    display: flex;
}

/* Sidebar Styles */
#sidebar {
    width: 80px;
    background-color: #0F4C75;
    color: white;
    padding: 32px 10px 20px 15px;
    height: 100vh;
    position: fixed;
    z-index: 2;
    transition: width 0.3s ease-in-out;
}

#toggler:checked ~ #sidebar {
    width: 200px;
}

/* Sidebar Header */
.sidebar-header {
    padding-top: 30%;
    text-align: center;
    margin-bottom: 10%;
}

.sidebar-header h2 {
    display: none;
    font-size: 18px;
}

#toggler:checked ~ #sidebar .sidebar-header h2 {
    display: block;
}

/* Sidebar Navigation */
.sidebar-nav .sidebar-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s, padding-left 0.3s;
}

.sidebar-nav .sidebar-link i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.sidebar-nav .sidebar-link span {
    display: none;
}

#toggler:checked ~ #sidebar .sidebar-link span {
    display: inline;
}

.sidebar-nav .sidebar-link:hover {
    background-color: #386c8f;
    padding-left: 20px;
}

/* Sidebar Footer */
.sidebar-footer {
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 100%;
    text-align: center;
}

.sidebar-footer .sidebar-link {
    transition: opacity 0.3s;
    color: #ffffff;

}

.sidebar-footer .sidebar-link span {
    color: #ffffff;
    display: none;
}

.sidebar-footer .sidebar-link i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 80px;
    transition: margin-left 0.3s;
}

#toggler:checked ~ .main-content {
    margin-left: 200px;
}

.toggle-btn {
    font-size: 1.5rem;
    cursor: pointer;
    color: #FFF;
    padding: 1rem;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 3;
}

@media (max-width: 768px) {
    #sidebar {
        width: 0;
        overflow: hidden;
        padding: 0;
    }

    .toggle-btn {
        display: inline-block;
    }

    #toggler:checked ~ #sidebar {
        width: 200px;
        padding: 20px 10px;
    }

    .main-content {
        margin-left: 0;
    }

    #toggler:checked ~ .main-content {
        margin-left: 200px;
    }
}

.user-info {
    text-align: right; 
    font-size: 14px; 
    color: #333; 
    padding: 5px;
}

.user-role {
    display: block; 
    font-size: 14px; 
    color: #333; 
}

.user-name {
    font-size: 14px; 
    color: #333; 
}

.table-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 20px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0;
}

.buttons-vertical {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    gap: 10px; /* Espaciado entre los botones */
    width: 100%; /* Opcional: ajusta el ancho si es necesario */
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 2%;
}
.button-bar {
    display: flex;
    margin: 2%;
}

.table-container {
    margin-top: 20px; 
}

.table-container button {
    background-color: #3282B8;
    color: #ffffff;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.2s;
}

.table-container button:hover {
    background-color: #64a1ca;
}

.table-container table {
    width: 100%;
    border-collapse: separate;
    margin-top: 20px;
    border-spacing: 0;
}

.table-container th,
.table-container td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 4px solid #ffffff;     
}

.table-container th {
    background-color: #3282B8;
    color: #ffffff;
}

.table-container tr {
    background-color: #f2f2f2; 
    border-radius: 8px;
    overflow: hidden;
}

.table-container th:first-child, .table-container td:first-child  {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
.table-container th:nth-last-child(1), .table-container td:nth-last-child(1){
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
.table-container tr:hover {
    background-color: #e0e0e0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination span {
    margin: 0 5px;
    cursor: pointer;
    color: #16486a;
    font-weight: 600;
}

.pagination span:hover {
    color: #22638e;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-number, .page-arrow {
    margin: 0 5px;
    cursor: pointer;
    color: #1b5e8b;
    font-weight: 600;
}

.page-number.active {
    color: #ffffff;
    background-color: #4f90bc;
    padding: 5px 10px;
    border-radius: 50%;
}

.page-arrow:hover,
.page-number:hover {
    color: #568cc6;
}

/*
    Columnas index autorizacion
*/
.columna1{
    padding-top: 2%;
    padding-left: 2%; 
    padding-right: 2%;
    flex: 1;
    border-right: 2px solid #ccc; 
}

.columna2{
    padding-top: 2%;
    padding-left: 2%; 
    padding-right: 2%;
    flex: 1;
}

.columna3{
    padding-top: 2%;
    padding-left: 2%; 
    border-left: 2px solid #ccc; 
    flex: 2;
    align-content: center;
    line-height: 190%;

}

/**checkbox */
.checkboxCustom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.checkboxCustom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkboxCustom:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkboxCustom input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkboxCustom input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkboxCustom .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/**checkbox */
.checkboxCustom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.checkboxCustom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkboxCustom:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkboxCustom input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkboxCustom input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkboxCustom .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/* 
    Módulo de Nueva Factura
 */

/* Integración de la nueva sección con campos de formulario */
.seccion-factura, .encabezado-autorizacion {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    max-width: 1200px;
    margin: auto;
}

.seccion-factura h2 {
    font-size: 20px;
    color: #16486a;
    margin-bottom: 20px;
    text-align: center;
}

.seccion-factura form {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.seccion-factura .columna-izquierda {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.seccion-factura .columna-centro {
    flex: 3;  
    display: flex;
    flex-direction: column;
    gap: 20px; 
    border-left: 2px solid #ccc; 
    border-right: 2px solid #ccc; 
    padding-left: 2%; 
    padding-right: 2%;
}

.seccion-factura label {
    display: block;
    font-size: 14px;
    color: #16486a;
    font-weight: 600;
    margin-bottom: 5px;
}

.seccion-factura input,
.seccion-factura select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #555;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.seccion-factura input:focus,
.seccion-factura select:focus {
    border-color: #3282b8;
    outline: none;
    box-shadow: 0 0 5px rgba(50, 130, 184, 0.3);
}

.seccion-factura .input-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.seccion-factura .input-group input {
    flex: 1;
}

.seccion-factura .btn-busqueda {
    padding: 8px 10px;
    border: none;
    background-color: #3282b8;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.seccion-factura .btn-busqueda:hover {
    background-color: #16486a;
}

.seccion-factura .grupo {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.seccion-factura .grupo > div {
    flex: 1 1 calc(25% - 10px); 
}

.seccion-factura .grupo-2 > div {
    flex: 1 1 calc(50% - 10px);
}

.seccion-factura .grupo-3 > div {
    flex: 1 1 calc(33.333% - 10px);
}

.seccion-factura .buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.seccion-factura .buttons button {
    padding: 10px 15px;
    border: none;
    background-color: #3282b8;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.seccion-factura .buttons button:hover {
    background-color: #16486a;
}

/* 
    Estilos del filtro en facturacion
*/
.filter-input {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-btn {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #0056b3;
}

.disabled-action {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.buttons {
    margin-bottom: 15px;
}

.clickable-row {
    cursor: pointer; 
}

/*
    Estilos para el select de generar
*/
.generar-select-container {
    display: flex;
    justify-content: center;
}

.generar-select-container select {
    background-color: #3282B8;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    appearance: none; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.generar-select-container select:hover {
    background-color: #64a1ca;
}

.generar-select-container option {
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    padding: 10px;
}

/* Sección de Datos Documento Relacionado */
.datos-resumen {
    display: flex;
    gap: 20px; 
    align-items: flex-start; 
}

.datos-documento-relacionado {
    flex: 2; 
    margin: 1%; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.datos-documento-relacionado h3, .resumen-totales h3 {
    font-size: 18px;
    font-weight: 600;
    color: #16486a;
    margin-bottom: 15px;
}

.field-group {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.datos-documento-relacionado label {
    font-weight: 600;
    color: #16486a;
}

.datos-documento-relacionado input {
    width: 30%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    color: #555;
    pointer-events: none; 
}

.datos-documento-relacionado input:focus {
    outline: none;
    border-color: #ccc;
    box-shadow: none;
}

/* Resumen de Totales */
    .resumen-totales {
        size: 25%;
        margin-left: auto;
        display: block;
        text-align: right;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

.resumen-totales p {
    margin: 1px 0; 
}

.resumen-totales span {
    font-weight: bold; 
}

/* 
    Apartado de estilos para el Modal
 */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.modal-content h2 {
    font-size: 20px;
    color: #16486a;
    margin-bottom: 20px;
    text-align: center;
}

#modal-content {
    margin-bottom: 20px;
}

/* Botón de Cerrar del modal */
.close-modal {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #3282b8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s;
}

.close-modal:hover {
    background-color: #16486a;
}
